body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: black;
}
.pendulum{
position: relative;
height: 300px;
width: 4px;
}
.rod{
width: 100%;
height: 250px;
background-color: white;
transform-origin: top;
animation: swing 2s ease-in-out infinite;
transition: all 1s ease;
}
.ball{
width: 40px;
height: 40px;
background-color: red;
border-radius: 50%;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
transition: all 1s ease;
cursor: pointer;
}
@keyframes swing{
0%{
transform: rotate(25deg);
}
50%{
transform: rotate(-25deg);
}
100%{
transform: rotate(25deg);
}
}
.ball:hover{
background-color: blue;
}
.pendulum:hover .rod{
background-color: rgb(255, 0, 187);
}